<div class="author author-large">
  <img width="50" class="author-image" src="{{ site.authorImage }}" alt="{{ site.author }}" />
  <span class="author-name">{{ site.author }}</span>
  <span class="author-title">{{ site.authorTitle }}</span>
</div>
