<div class="author author-large">
  <img width="50" class="author-image" src="{{ author.image }}" alt="{{ author.name }}" />
  <span class="author-name">{{ author.name }}</span>
  <span class="author-title">{{ author.title }}</span>
</div>
