<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{{ title }} - {{ site.title }}{% endblock %}</title>
  <meta name="generator" content="{{ eleventy.generator }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  {% seo "" %}
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }} Atom Feed" href="{{ site.url }}/feed/feed.xml" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS Feed" href="{{ site.url }}/feed/rss.xml" />

  <link rel="stylesheet" href="/scss/style.css">
  {% include "schema.njk" %}
  {% block meta_tags %}
    {% if description %}<meta name="description" content="{{ description }}"/>{% endif %}
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    {% if image %}<meta property="og:image" content="{{ site.url }}{{ image }}"/>{% endif %}
    {% if description %}<meta property="og:description" content="{{ description }}"/>{% endif %}
    <meta name="twitter:card" content="summary"/>
    {% if site.twitter %}<meta name="twitter:site" content="{{ site.twitter }}"/>{% endif %}
    {% if site.twitter %}<meta name="twitter:creator" content="{{ site.twitter }}"/>{% endif %}
  {% endblock %}

  {% if site.enableGoogleFonts %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="{{ site.googleFontsUrl }}" rel="stylesheet">
  {% endif %}
</head>

<body class='page{% if site.addFrame %} frame{% endif %} {% block body_classes %}{% endblock %}'>
  {% include "mobile-menu.njk" %}
  <div id="wrapper" class="wrapper">
    {% include "header.njk" %}
    {% block main %}
    {% endblock %}
    <!-- outputs all the icons used on the page -->
    {% getBundle "fontawesome" %}
    {% include "footer.njk" %}
  </div>
  <script type="text/javascript" src="/js/scripts.js"></script>

  {% block footer_js %}
  {% endblock %}
</body>
</html>
