<div id="menu-main-mobile" class="menu-main-mobile">
  <ul>
    {% for item in navigation.main %}
    <li class="menu-item-{{ item.name | lower }}{% if page.url == item.url %} active{% endif %}">
      <a href="{{ item.url }}">
        <span>{{ item.name }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
