---
permalink: /humans.txt
eleventyExcludeFromCollections: true
date: Last Modified
layout: null
---

/* WHO */
Adam DJ Brett
adamdjbrett.com

/* THANKS */
Theme Creator: Zerostatic
website: https://github.com/zerostaticthemes/hugo-winston-theme

Creativas.dev
creativas.dev

/* Credits */

Static Site Generator: Eleventy
Twitter: @eleven_ty
Website: 11ty.dev



/* SITE */

Last update: {{ page.date }}
Language: English
Generator: Eleventy
Theme: Hugo Winston Theme by Zerostatic
Framework: SCSS, JavaScript
Icons: Font Awesome
