.footer {
  margin-top: 30px;
  @include breakpoint('small') {
    padding-top: 40px;
  }
}

.social-icon {
  margin-right: 10px;
  height: 12px;
  width: 12px;
  margin: auto;
  color:black
  opacity: 0.7;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}